<?xml version="1.0"?>
<config>
    <modules>
        <Quafzi_StorableAdminPassword>
            <version>1.0.0</version>
        </Quafzi_StorableAdminPassword>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <quafzi_storableadminpassword>
                    <file>quafzi_storableadminpassword.xml</file>
                </quafzi_storableadminpassword>
            </updates>
        </layout>
    </adminhtml>
</config>
